# Android
*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

# Do NOT ignore gradle-wrapper.jar if you commit it
# If using CI regeneration (our approach), the jar is not needed in repo
gradle/wrapper/gradle-wrapper.jar
